body {
  background-color: white;
  color: black;
}

.title {
  font-family: cursive;
  color: white;
  border: 10px solid pink;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color: lightpink;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
  font-size: 40px;
  top: 0;
  left: 0;
  right: 0;
}

button {
  background-color: lightpink;
  border: 5px solid pink;
  border-radius: 20px;
  font-size: 30px;
  color: white;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}